form {
    padding: 10px;
}

label {
    padding: 10px;
}

.btn-primary {
    margin: 10px;
}

table, .table {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

#date {
    display: block;
    font-style: italic;
    margin-bottom: 50px;
    text-align: center;
}

th, td {
    max-width: 120px;
    min-width: 80px;
}

.cuotaEncontrada {
    color: green;
    font-weight: bold;
}

.table-striped>tbody>tr.cuotaEncontrada:nth-of-type(odd)>*{
    color: green;
}

.errorLabel {
    color: red;
    font-weight: bold;
    margin: 0px 0px 20px 0px;
    }

.infoLabel {
    color: darkslategrey;
}

.error {
    border-color: red;
}

.actualizado {
    border-color: greenyellow;
}

.cuotaMenor {
    color: blue;
    font-weight: bold;
}

.table-striped>tbody>tr:nth-of-type(odd)>td.cuotaMenor{
    color: blue;
}

.table-striped>tbody>tr:hover>td.cuotaMenor{
    color: blue;
}

.container {
    display: flex;
    /* justify-content: center; */
    justify-content:space-around;
    width: 90%;
    max-width: 700px;
}

form {
    max-width: 300px;
}

@media screen and (max-width: 576px) {

    .container {
        flex-wrap: wrap;
        flex-direction: column;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

    #currencyRates {
        max-width: 80%;
    }

    #currencyRates input {
        width: 30%;
        min-width: 75px;
    }

}

.btn{
    display: block;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#currencyRates {
    max-width: 80%;
}

#currencyRates input {
    max-width: 15%;
}

#currencyDate {
    animation-duration: 4s; /* don't forget to set a duration! */
}

/* #btnFetch {
    margin-left: auto;
    margin-right: auto;
} */

.justify {
    text-align: justify;
}

/* #cache {
    text-align: center;
} */

h2 {
    display: inline-block;
}

h1, #Resultados {
    display: block;
    text-align: center;
    margin: 20px;
}

p {
    display: inline-block;
    padding: 0% 2%;
    width: 75%;
}

#monedas {
    display: inline-block;
    width: 20%;
}

#descripcion {
    margin: 5%;
    width: 90%;
}

#spinner {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.margin-top-cSpinner {
    margin-top: 10px;
}

@media screen and (max-width: 756px) {

    #descripcion {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    #monedas {
        width: 75%;
        text-align: justify;
    }

}