form {
    padding: 10px;
}

label {
    padding: 10px;
}

.btn-primary {
    margin: 10px;
}

th, td {
    min-width: 100px;
}

.cuotaEncontrada {
    color: red;
    font-weight: bold;
}

.cuotaMenor {
    color: blue;
    font-weight: bold;
}