form {
    padding: 10px;
}

label {
    padding: 10px;
}

.btn-primary {
    margin: 10px;
}

th, td {
    min-width: 100px;
}

.cuotaEncontrada {
    color: green;
    font-weight: bold;
}

#errorLabel {
    color: red;
    font-weight: bold;
    margin: 0px 0px 50px 0px;
    }

.error {
    border-color: red;
}

.cuotaMenor {
    color: blue;
    font-weight: bold;
}

.container {
    display: flex;
}

.btn{
    display: block;
}

h1, h2, h3 {
    display: inline-block;
}